<ion-header>
  <ion-toolbar>
    <ion-title>hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime [(ngModel)]="startDate" displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>End Date</ion-label>
          <ion-datetime [(ngModel)]="endDate" displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-col>
        <IonItem>
          <IonLabel></IonLabel>
        </IonItem>  
      </ion-col>
    </ion-grid>
  </div>
</ion-content>