<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="signOut()">
      <ion-label>Logout</ion-label>
    </ion-button>
    <ion-title class="title" text-center>
      Hotel Booking
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="loginContent">
  <div class="map" id="map"> </div>
  <script src="https://maps.googleapis.com/maps/api/place/nearbysearch/json?type=restaurant&&key=AIzaSyCHieemnqXzDfVcOkp_0ZzZh2VfC-jylZY"></script>
 
  <div class="list">
  <ion-card *ngFor="let place of places">
    <ion-item>
    <img src={{place.icon}} style ="width: 20px;height: 20px;"/>
    {{place.name}}  
    </ion-item>
  </ion-card>
</div>
</ion-content>
