<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title" text-center>
      Hotel Booking
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="loginContent">
 <div #map id="map"> </div>
 <div style="width : 100% ;height: 60%">
  <ion-list *ngFor="let place of places">
    <ion-item>
    <img src={{place.icon}} style ="width: 20px;height: 20px;"/>
    {{place.name}}  
    </ion-item>

  </ion-list>
</div>
</ion-content>
